.card:hover {
    transform: scale(1.05); }
  
.card {
    margin: 20px 10px 20px 10px;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); 
    width: 100%;
  }

  .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }


  .jumbotron{
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/01/tree-736887_960_720.jpg") no-repeat center center;
    background-size: 100% 100%;

  
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }